
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/z7/z71jJcdrsuB5nw2f9SpystqiGxkLW8JOcMa-3QND_s9kZWZhdWx0/AAAAADsEAAC8j_8DAAAAANPhni4=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/yH/yHaX60Ip7wqTJGI6tgKeeUW8IpF-2VlTs8bnKXdoUTBkZWZhdWx0/AAAAAFIEAAASlv8DAAAAAMbIy0w=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Xi/Xiya1FaLzMDBmea8BQkkjjPTwJNiRAskFr-yJ_AN-ddkZWZhdWx0/AAAAAFsEAADoMv8DAAAAAI2sUXk=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/xH/xHG3tHBLVPRFHRUF2A_YXgLaNZaLIPhasUFA7kwxD6lkZWZhdWx0/AAAAAFYEAACfs_8DAAAAAKw9COU=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/wW/wW4Z2KlSfY34MsIuwq3uzccuB7WFF8THA84-_EOB7B5kZWZhdWx0/AAAAAFYEAAAmkv8DAAAAAC_nBTg=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/WQ/WQ-HxVwVZRckVyRkiVz9Sej3ORhH7XCj0h9xroHE_AdkZWZhdWx0/AAAAAEoEAAB24v4DAAAAAHqkh7I=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/wc/wc_tuIFMX35dRaxZ_ddonSH0twpHfwJDhnJ-2LE11ktkZWZhdWx0/9AMAADAEAACOMjgAAAAAABEqcTs=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/W5/W5FykPdA4lQymbB-p8_2EmSEYvZcqvmf1_rARcXrgINkZWZhdWx0/AAAAAFMEAABSqP8DAAAAAJWadcU=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/W0/W0GAI1ZWwKDDIlcgNB5ysKPlvm74V8Dd_p28b5K5r2ZkZWZhdWx0/AAAAAEYEAABwov8DAAAAAJ9IXsY=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/tQ/tQCVUpmr60BNphXYn-zVfGat-3wgLg0_SU9SiXMT741kZWZhdWx0/AAAAADgEAAC8Nf8DAAAAAFrassM=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/SN/SN-sUldczm-8vFc6zzIMUccma-PoE37z3NDRPiDybOBkZWZhdWx0/AAAAAFcEAABjuv4DAAAAAMJgi_A=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Rb/RbUHozXNO4UFp97xoFHi0EL_nX_zRoN1E4zeGs9i0oVkZWZhdWx0/AAAAAGAEAACsyP8DAAAAAIdrWSE=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/qa/qa4uRXiH6nDb2ORW8596F4r_sjWvRDbfiGg1rjVxKhJkZWZhdWx0/AAAAAFAEAADHsv8DAAAAAEE544g=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Q9/Q9bm0j0L0excH-w3FGwf5w4V9XMZvWTAd-6Uw1HZ2HJkZWZhdWx0/AAAAAEsEAABQ7P8DAAAAACQX5j0=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/on/on6mh9p4YFQ_qovoWvO3UXAxijVyGeqcopo7iRq6CVNkZWZhdWx0/AAAAAC4EAACmTf8DAAAAAKPw0jI=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Oc/Oc4OaT1IiQJBQlogPNSkNyolYzbEDeYV55A92p82jkhkZWZhdWx0/AAAAAG0EAAD55P8DAAAAALBGeJc=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/MJ/MJELpCXAnTo70TOX5EK6qALQA-ZW611w9fC2ooJ2hyBkZWZhdWx0/AAAAADMEAACNff8DAAAAAEtgu1k=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/LW/LW5hQGZ5LnNQ1iefLGX0R6FDAVAh4TfJtwZ9_1r4sd9kZWZhdWx0/UAAAAIgAAACgXT4AAAAAAAYR2Mk=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/LW/LW5hQGZ5LnNQ1iefLGX0R6FDAVAh4TfJtwZ9_1r4sd9kZWZhdWx0/rgIAANECAAB4ZyQAAAAAAOEuBWo=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/LW/LW5hQGZ5LnNQ1iefLGX0R6FDAVAh4TfJtwZ9_1r4sd9kZWZhdWx0/DwAAAE4AAACMmzwAAAAAADJiOpc=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/LW/LW5hQGZ5LnNQ1iefLGX0R6FDAVAh4TfJtwZ9_1r4sd9kZWZhdWx0/AAAAAA0AAACIRQsAAAAAAHNZvFs=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/kz/kzgGKn3L3TK9o8IfjU_JsFalm1HMGbyjQ3FtktuSsJJkZWZhdWx0/AAAAAHcEAABBrP4DAAAAADKab0g=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/kR/kRJRNtsi--qwByIHqhNMr56y1kMxk-1v32ryxY7fN0RkZWZhdWx0/AAAAAGIEAADh9_4DAAAAAEfjs4A=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/kg/kg6siMFDx6r0HBLWCuQEa2uEOCTOpJLmfATS47d5-jtkZWZhdWx0/AAAAAI0DAABVm1EDAAAAAOAJFno=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/JE/JEGGrxPSO_rXfQ9ygNnpvpxhiwL5cXWu4o9gUeA9d95kZWZhdWx0/AAAAAFAEAABf4P8DAAAAANlEpNk=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/hI/hI9NAUuVcbrA7Xtduz5VMWosOrP1Pu7G3PIO7WRCfvNkZWZhdWx0/AAAAAFUEAAA3E_8DAAAAAFpBwns=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/hF/hFViPaKF-Z_zWRdKqOJ10wtlQL7UQWIB1W-5CWA1WAJkZWZhdWx0/AAAAAEoEAABsrv8DAAAAAOPnbJ0=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/h4/h4JVi2Wi5q1rRtDC3XjzNAFbPmR-ffmDcuSjECq1LI1kZWZhdWx0/AAAAAGkEAAC73P4DAAAAAEdQR1A=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Gt/GtnCa7IHLHvVA0pH_t0aNSbSkMO6Lf75r_AIu4lWMS5kZWZhdWx0/AAAAABwAAAA4CRgAAAAAANdn6YI=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Fs/Fs7kUUcbt_cetrb4Xb3KX5BGLrv2G1ZIbMWSe70JL6NkZWZhdWx0/RgQAAIMEAADvBzQAAAAAAP8uDfQ=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/Fs/Fs7kUUcbt_cetrb4Xb3KX5BGLrv2G1ZIbMWSe70JL6NkZWZhdWx0/9wMAAEUEAADSDD8AAAAAANOYd40=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/fQ/fQribUfqP4dUtigWXKrRcaMXHZiNbUZSv2k0_vkTX6lkZWZhdWx0/AAAAAFYEAADeCQAEAAAAAHWg94c=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/fh/fhti3pOV1teVLXdp9PHycYjYgJWHLmRT8L_44qziE9tkZWZhdWx0/AAAAAFgEAACaE_8DAAAAABLUw00=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/f4/f4CFixNDEDHDin4UXnuC018pJDRX4jZ58mUkE4XRaehkZWZhdWx0/AAAAAB4EAAD9yv8DAAAAAMl2EGo=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/ez/ezuYB-eKvYeJhWUJOGNP7kTUZUy_mTs_8qZVif65z-pkZWZhdWx0/AAAAAEAEAAC4lf8DAAAAAMg0IkE=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/EK/EKKipOI6ivuH3MTbvZ9jxexVhfnzGfoAPFR2HYfPfOhkZWZhdWx0/TgAAAFUAAADXngcAAAAAAKmyfiE=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/EK/EKKipOI6ivuH3MTbvZ9jxexVhfnzGfoAPFR2HYfPfOhkZWZhdWx0/AAAAAE4AAADioD8AAAAAAJ3NcRk=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/ec/ecFVnkHTtWD0s-8QSPXAgXAUiago2wpj-GLptOngjP1kZWZhdWx0/AAAAAFcEAABo-P4DAAAAAG_eNiU=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/_K/_Kyl46aYGv_P63R2xRt_eTVgBYttTWp5G0NTfjUnqNRkZWZhdWx0/AAAAAJIEAABmbP8DAAAAADszDPY=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/7c/7cB_LudiDytCHY0tAtCvMXqQmAFoTGExBJL8Dx9C3khkZWZhdWx0/TAAAADsEAABYI78DAAAAAEJd_nA=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/7c/7cB_LudiDytCHY0tAtCvMXqQmAFoTGExBJL8Dx9C3khkZWZhdWx0/AAAAAE0AAAAIn0IAAAAAAOe8q1k=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/62/62kCdKw_PoU2l7UizjuZZhS63l04GhbRk8Cnly1bwd9kZWZhdWx0/AAAAACkAAAA6RyMAAAAAAILnzFo=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/3n/3ndEvz5qTIXPzHz5MOr0l5SZjOSn9OBGPNwwSi74tPBkZWZhdWx0/AAAAACIEAAD3uv8DAAAAAJrJuc0=
docker_version/.cache/huggingface/xet/https___cas_serv-tGqkUaZf_CBPHQ6h/chunk-cache/1k/1kunRD-9L4DF97_Bz4lxSt9tDFkIajozUYNHdandA4NkZWZhdWx0/AAAAAGsEAAC_Yv8DAAAAAMlmZLk=
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/vocab.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/tokenizer_config.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/target.spm
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/source.spm
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/pytorch_model.bin
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/config.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/snapshots/0012d6d6ff4b4dd06bee042d3294295f0e587abd/model.safetensors
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/refs/refs/pr/5
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/refs/main
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/e73d58f99c702eb1746e3dc55bc76255d7aa4a94
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/da068344b1b0c20e6d4a8f77f48e06646b90d679029006b18579e68977206bdd
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/c1fe32f77a961c887ae8266fbd92f4f583fe309a
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/9dd0d88081be8d75fbc029762329cc11bfad07b9
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/3fb78700bce624990eff6468d0e14fbde18a6aedac35821fa8c0c4ead5fae014
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/0da41bcf74fa9a6af4855c7350e27819796d9ca9
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/blobs/0a49d3f4024d5ea51560d51f29d75722d794fb16
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/tokenizer.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/target_vocab.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/special_tokens_map.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/model.safetensors.index.json
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/model.safetensors
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/chat_template.jinja
docker_version/.cache/huggingface/transformers/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/added_tokens.json
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/e73d58f99c702eb1746e3dc55bc76255d7aa4a94.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/da068344b1b0c20e6d4a8f77f48e06646b90d679029006b18579e68977206bdd.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/c1fe32f77a961c887ae8266fbd92f4f583fe309a.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/9dd0d88081be8d75fbc029762329cc11bfad07b9.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/3fb78700bce624990eff6468d0e14fbde18a6aedac35821fa8c0c4ead5fae014.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/0da41bcf74fa9a6af4855c7350e27819796d9ca9.lock
docker_version/.cache/huggingface/transformers/.locks/models--Helsinki-NLP--opus-mt-en-de/0a49d3f4024d5ea51560d51f29d75722d794fb16.lock
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/tokenizer_config.json
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/tokenizer.model
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/tokenizer.json
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/special_tokens_map.json
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/model.safetensors
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/generation_config.json
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/snapshots/fe8a4ea1ffedaf415f4da2f062534de366a451e6/config.json
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/refs/main
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/fa96b85858f4053b0142a18e2b09dbe94e3fae46
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/a6e931b92caff4c79c5c56282f1e89569a0ae558
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/9e556afd44213b6bd1be2b850ebbbd98f5481437a8021afaf58ee7fb1818d347
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/768e95e5b4dada726d7631277a4a87ecbb236f70
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/6e6001da2106d4757498752a021df6c2bdc332c650aae4bae6b0c004dcf14933
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/4ea05f1bc289d48ba9b92eea2f58ad8acd3dce5d
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/blobs/492d4b2966a1763442d426d880dbc29f94906e4c
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/.no_exist/fe8a4ea1ffedaf415f4da2f062534de366a451e6/chat_template.jinja
docker_version/.cache/huggingface/hub/models--TinyLlama--TinyLlama-1.1B-Chat-v1.0/.no_exist/fe8a4ea1ffedaf415f4da2f062534de366a451e6/added_tokens.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/vocab.txt
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/tokenizer_config.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/tokenizer.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/special_tokens_map.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/sentence_bert_config.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/README.md
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/modules.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/model.safetensors
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/config_sentence_transformers.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/config.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/2_Dense/model.safetensors
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/2_Dense/config.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/snapshots/d20bcb62652b24c368dd1e20f65665d9d5dfe088/1_Pooling/config.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/refs/main
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/f930bdc88c40a163884a6264ebd3bd10688ae1af
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/e8c2aed21297045330bd7c36ad1fee2ca8a7c527ac94cf19d20c3dd2bee564d7
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/e837bab60a5d204e29622d127c2dafe508aa0731
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/e7b0375001f109a6b8873d756ad4f7bbb15fbaa5
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/bbb152fa45b291d1e709b6d207b2e95cf9b5c104
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/b974b349cb2d419ada11181750a733ff82f291ad
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/8885f9a958fdc9be2d592c125ff53438ec8b04d8
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/690228044f2419be04f3df1172d076a4106933af
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/5fd10429389515d3e5cccdeda08cae5fea1ae82e
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/4e09f293dfe90bba49f87cfe7996271f07be2666
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/3ddff63d7ba894f11d15a4ab05ca87c3e19a4d87
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/18a802ad03bca65d1f02cb1843b0f568ba751636
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/blobs/0a21b1ce908e772ebf09f93c20ca09524c32706e9918d9c0169a3f0663b191ed
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/.no_exist/d20bcb62652b24c368dd1e20f65665d9d5dfe088/chat_template.jinja
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/.no_exist/d20bcb62652b24c368dd1e20f65665d9d5dfe088/added_tokens.json
docker_version/.cache/huggingface/hub/models--sentence-transformers--distiluse-base-multilingual-cased/.no_exist/d20bcb62652b24c368dd1e20f65665d9d5dfe088/adapter_config.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/vocab.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/tokenizer_config.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/target.spm
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/source.spm
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/pytorch_model.bin
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/generation_config.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/6183067f769a302e3861815543b9f312c71b0ca4/config.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/snapshots/0012d6d6ff4b4dd06bee042d3294295f0e587abd/model.safetensors
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/refs/refs/pr/5
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/refs/main
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/e73d58f99c702eb1746e3dc55bc76255d7aa4a94
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/da068344b1b0c20e6d4a8f77f48e06646b90d679029006b18579e68977206bdd
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/c1fe32f77a961c887ae8266fbd92f4f583fe309a
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/9dd0d88081be8d75fbc029762329cc11bfad07b9
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/3fb78700bce624990eff6468d0e14fbde18a6aedac35821fa8c0c4ead5fae014
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/3d05a5bad924f2121cf5a006b36dfda02970289b
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/0da41bcf74fa9a6af4855c7350e27819796d9ca9
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/blobs/0a49d3f4024d5ea51560d51f29d75722d794fb16
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/tokenizer.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/target_vocab.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/special_tokens_map.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/model.safetensors.index.json
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/model.safetensors
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/chat_template.jinja
docker_version/.cache/huggingface/hub/models--Helsinki-NLP--opus-mt-en-de/.no_exist/6183067f769a302e3861815543b9f312c71b0ca4/added_tokens.json
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/vocab.json
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/tokenizer.json
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/model.safetensors
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/merges.txt
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/generation_config.json
docker_version/.cache/huggingface/hub/models--facebook--bart-large-cnn/snapshots/37f520fa929c961707657b28798b30c003dd100b/config.json
docker_version/data/1751849279_deutsch.txt
docker_version/data/dp2008-04_deutsch.txt
docker_version/data/DP_2006-5_Homann_-_The_Sense_and_Limits_of_the_Economic_Method_in_Business_Ethics_o_deutsch.txt
docker_version/data/DP_2008-4_deutsch.txt
*.csv
